img {
    width: 100%;
}

@media screen {


    /* For mobile phones: */
    body {
        background-color: rgb(255, 255, 255);
    }

    .nav a {
        display: inline-block;
        padding: 10px;
        font-size: 13px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .backgroundheader {
        background-color: rgb(75, 250, 250);
    }

    .hey {
        font-size: 25px;
    }

    .menuicon {
        display: none;
    }

    .Here {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {

    /* For tablets: */
    body {
        background-color: rgb(255, 255, 255);
    }

    .nav a {
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .menuicon {
        display: block;
    }

    .backgroundheader {
        background-color: rgb(75, 250, 250);
    }

    .hey {
        font-size: 32px;
    }

    .Here {
        font-size: 20px;
    }

}

@media only screen and (min-width: 937px) {

    /* For desktop: */
    body {
        background-color: rgb(255, 255, 255);
    }

    .nav a {
        display: inline-block;
        padding: 10px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .backgroundheader {
        background-color: rgb(75, 250, 250);
    }

    .hey {
        font-size: 40px;
    }

    .Here {
        font-size: 23px;
    }
}