img {
    width: 100%;
}
body {
    color: aliceblue;
}

.menu .menu-list .menu-item {
    list-style-type: none;
    display: inline-block;
}
.menu .menu-list {
    display: inline-block;
}

@media screen {


    /* For mobile phones: */
    body {
        background-color: rgb(24, 25, 26);
    }

}

@media only screen and (min-width: 768px) {

    /* For tablets: */
    body {
        background-color: rgb(24, 25, 26);
    }

}

@media only screen and (min-width: 937px) {

    /* For desktop: */
    body {
        background-color: rgb(24, 25, 26);
    }
}