img {
    width: 100%;
}

/* For mobile phones: */
body {
    background-color: white;
}
.center {
    margin-left: 10px;
    margin-right: 10px;
}
.menu {
    background-color: #566270;
}

.font-weight-bold {
    font-size: 50px;
}

.menu li {
    display: inline-block;
}
.text1 {
    margin-top: 30px;
}
.text2 {
    margin-top: 70px;
}
.img1 {
    padding-top: ;
}